@font-face {
    font-family: 'Torus';
    src: url("./torus-bold-latin.woff2");
}
@font-face {
    font-family: 'Proxima Nova';
    src: url("./proxima-nova-regular-latin.woff2");
}
@font-face {
    font-family: 'SHOWG';
    src: url("./SHOWG.TTF");
}